<div style="text-align:center">
  <div class="container2">
    <div class="form-login2">

      <strong><div style="font-size: 33px">Find the weather conditions of your city!</div></strong>
  </div>
  </div>
</div>



<div style="text-align:center; margin-top: 170px ">
  <div class="container">
  <div class="form-login">
    
<h4>{{title}}</h4>
<input style="font-size: 20px" type="text" placeholder="Search..." [(ngModel)]="term">
<table style="text-align: center">
  <div style="margin-right: -1050px; font-size: 25px" *ngFor="let city of cities | filter:'name':term">
    <button type="button" style="font-size: 20px" class="btn btn-lg btn-outline-primary" data-toggle="modal"  data-target="#myModal" value="#{{city.name}}">{{city.name}}</button>


 <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4><div style="text-align: center; margin-left: 95px; color: #3D6EFF" class="modal-title">Requested Metrics</div></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

      <table style="text-align: center" class="table">
          <thead class="thead-light">
            <tr>
              <th>Metric Label</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Max percentage humidity</td>
              <td><ul class="items">
                <li *ngFor="let post of posts">
                    <span>{{post.maxhumidity}}</span>
                </li>
            </ul>
            </td>
            </tr>
            <tr>
              <td>Max Temp in C</td>
              <td><ul class="items">
                <li *ngFor="let post of posts">
                    <span>{{post.maxtemp}}</span>
                </li>
            </ul></td>
            </tr>
            <tr>
              <td>Min Temp in C</td>
              <td><ul class="items">
                <li *ngFor="let post of posts">
                    <span>{{post.mintempm}}</span>
                </li>
            </ul></td>
            </tr>
            <tr>
              <td>Precipitation in mm</td>
              <td><ul class="items">
                <li *ngFor="let post of posts">
                    <span>{{post.precipm}}</span>
                </li>
            </ul></td>
            </tr>
          </tbody>
        </table>
        </div>  
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button style="font-size: 20px" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</table>
</div>
</div>
</div>

