@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: center;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 115px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 0 10px 10px #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 font-size: 30px;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.container2 {
    padding: 25px;
    position: center;
}

.form-login2 {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 1115px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 0 10px 10px #cfcfcf;
}

